{% extends 'base.html' %}

{% load static %}
{% block content %}
<table class="table align-middle mb-0 bg-dark">
  <thead class="bg-dark">
      <th id="tableHeader">Group 5</th>
  </thead>
  <tbody class="bg-dark">
    <tr>
      <td>
        <div class="d-flex align-items-center profileRow">
        <img
              src="/media/about_image/image1.png"
              alt=""
              style="width: 65px; height: 65px"
              class="rounded-circle"
              >
          <div class="ms-1">
            <p class="fw-bold mb-1">Reyes Jayson</p>
            <p class="text-muted mb-0">mreyes@student.hau.edu.ph</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center profileRow">
          <img
          src="/media/about_image/image2.jpg"
              class="rounded-circle"
              alt=""
              style="width: 65px; height: 65px"
              />
          <div class="ms-1">
            <p class="fw-bold mb-1">Manalese Mark</p>
            <p class="text-muted mb-0">ManaleseMark@gmail.com</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center profileRow">
          <img
          src="/media/about_image/image3.jpg"
              class="rounded-circle"
              alt=""
              style="width: 65px; height: 65px"
              />
          <div class="ms-1">
            <p class="fw-bold mb-1">Delossantos Kristian</p>
            <p class="text-muted mb-0">delossantoskristian5@gmail.com</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center profileRow">
          <img
          src="/media/about_image/image4.jpg"
              class="rounded-circle"
              alt=""
              style="width: 65px; height: 65px"
              />
          <div class="ms-1">
            <p class="fw-bold mb-1">Enrique Rafael</p>
            <p class="text-muted mb-0">etoysabile15@gmail.com</p>   
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center profileRow">
          <img
          src="/media/about_image/image5.jpg"
              class="rounded-circle"
              alt=""
              style="width: 65px; height: 65px"
              />
          <div class="ms-1">
            <p class="fw-bold mb-1">Gaña Darren</p>
            <p class="text-muted mb-0">gañaDarren@gmail.com</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center profileRow">
          <img
          src="/media/about_image/image6.jpg"
              class="rounded-circle"
              alt=""
              style="width: 65px; height: 65px"
              />
          <div class="ms-1">
            <p class="fw-bold mb-1">Lising Justine</p>
            <p class="text-muted mb-0">LisingJustine@gmail.com</p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<style>
  .profileRow {
    height: 100px;
    padding-left: 50px;
  }
  #tableHeader {
    padding-left: 50px;

  }
</style>
{% endblock %}