<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head> </head>
  <body>
    <nav
      id="main-navbar"
      class="navbar navbar-expand-lg navbar-dark bg- fixed-top"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#" onclick="myFunction('leftNav')">
          <i class="bi bi-list fs-3 mb-3"></i>
        </a>
        </svg>
        <a class="navbar-brand" href="/">🐪 Silk Road</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            {% comment %} <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                📦 Items
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/item/view">👀 View Items</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/item/new">➕ Add Items</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/item/edit">✏️ Edit Items</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href={% url 'item:item_delete' %}
                    >🗑️ Delete Items</a
                  >
                </li>
              </ul>
            </li> {% endcomment %}

            {% comment %} <li class="nav-item">
              <a class="nav-link" href="/about">🤔 About</a>
            </li> {% endcomment %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              
                😺Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin">Admin login</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts">🤔 Contacts</a>
            </li>
          </ul>
          {% comment %} {%endif%} {% endcomment %}
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="#" onclick="myFunction('contactList')" id="rightIcon">
              <i class="bi bi-people-fill fs-5 mb-3"></i>
            </a>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign up</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
          {% load accounts_tag %}
          <div class="dropdown">
            <a
              class="d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src= {% get_logged_in_user_profile_img %}
                class="rounded-circle"
                height="32"
                width="32"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <h6 class="dropdown-header">{{request.user}}</h6>
              <li>
                <a class="dropdown-item" href="/u/{{request.user}}">View my profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/myprofile">Edit my profile</a>
              </li>
                <a class="dropdown-item" href="/change-password">Change Password</a>
              </li>
              <li>
                <a class="dropdown-item" href="/logout">Logout</a>
              </li>
              <li>
            </ul>
          </div>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>

<style>
  #main-navbar {
    background-color: #202225;
    height: 56px;
    padding: 0 16px;  
  }
  .dropdown-menu {
    background-color: #282828;
  }
  .dropdown-header {
    color: #C2C3C4;
  }
  .dropdown-item {
    color: #C2C3C4;
  }
  .dropdown-menu a:hover {
    background-color: #3E3E3E;
    
    color: #C2C3C4;
  }
  #rightIcon {
    margin: 0 30px;
  }
  .rounded-circle {
    background-color: white;
  }
</style>