
<!-- Sidebar -->

{% if users %}
<div class="list-group list-group-flush">
  FRIEND LIST:
{% for user in friends %}
<button type="button" id="contactButton" class="btn btn-secondary text-start btn-lg fs-5 fw-normal" data-bs-toggle="popover" data-placement="left" title="User Info">
  <div class="user-avatar">
    {% comment %} <img src="https://bootdey.com/img/Content/user_6.jpg" alt=""> {% endcomment %}
    <img src={{user.image.url}}>
    {{user.user}}
  </div>
</button>
{% comment %} <button id="popperButton" type="button" class="list-group-item list-group-item-action">{{user}}</button> {% endcomment %}
{% endfor %}
</div>
{% endif %}

{% comment %} <script>
    tippy('#popperButton', {
        content: "I'm a Tippy tooltip!",
        placement: 'left',
      });
    console.log('123')
</script> {% endcomment %}

<!-- Sidebar -->
<style>
  .user-avatar img {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 3px;
  }
  button#contactButton {
    background-color: #2f3136;
    //font-size: xx-large;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }
  button#contactButton:hover {
    background-color: #35383D;
    //font-size: xx-large;
    border: none;
    cursor: pointer;
    outline: none;
  }
  button#contactButton:active {
    background-color: #3A3E44;
    //font-size: xx-large;
    border: none;
    cursor: pointer;
    outline: none;
  }
  body {
  background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
  main {
  padding-left: 240px;
  }
  }

  /* Sidebar */
  .sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  right: 0;
  padding: 0 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }

  @media (max-width: 991.98px) {
  .sidebar {
  width: 100%;
  }
  }
  .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  ::-webkit-scrollbar {
  width: 4px;
  }

  ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
</style>
