{% extends 'base.html' %}

{% block content %}
    <img src={{profile.image.url}} id="profilePic" >
    <div class='form-group' action='{{ action_url }}' enctype='multipart/form-data'>
    <form method='POST' enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn btn-success" type="submit" value="Save">
        <a href="/u/{{request.user}}" class="btn btn-primary btn card-links"> View Profile</a>
    
    </form>
    </div>
    




    
    {% comment %} <h1>Profile of: {{profile.user}}</h1>
        <br>
    friend number: {{profile.get_objects_no}}
    hello {% endcomment %}

    <style>
        #profilePic {
            display: block;
            margin-left: 0;
            margin-right: auto;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            object-fit: cover;
        }
        .form-control {
            width: 800px;
        }
    </style>
{% endblock %}