{% extends 'base.html' %}

{% block content %}

<div class="container">
    
    <h1>Silk Road Marketplace</h1>
    <div class="marketplace-header">
    <form action="{% url 'item:item_view' %}" method="get">
      <input name="q" type="text" placeholder="Search..." class="form-control">
    </form>
    <br>
      <a href="{% url "item:item_create" %}"><button class="btn btn-success bi-bi-basket" type="submit"><i class="bi bi-basket"></i> Create Listing</button></a>
      <a href="{% url "item:item_edit" %}"><button class="btn btn-primary" type="submit"><i class="bi bi-pencil-square"></i> Edit item</button></a>
      <a href="{% url "item:item_delete" %}"><button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Delete item</button></a>
    </div>
      <br>
    <strong>Display</strong>
      <div class="btn-group">
          <a href="#" id="list" class="btn btn-default btn-sm"> <span class="bi bi-list-ul"></span> List</a> 
          <a href="#" id="grid" class="btn btn-default btn-sm"> <span class="bi bi-grid-3x3-gap-fill"></span> Grid</a>
      </div>
  <div id="products" class="row">
    {% for i in object %}
      <div class="item col">
        <a href="/item/{{i.id}}/view">
          <div class="thumbnail">
            
              <img class="group list-group-image" src={% if i.image %}{{i.image.url}}{%else%}"https://source.unsplash.com/400x250/?mobile"{% endif %} alt="" />
              <div class="caption">
                  <p class="itemtext fs-5 fw-semibold" id="price">₱ {{i.price}}</p>
                  <p class="itemtext fw-normal">{{i.title}}</p>
                  <p class="itemtext fw-lighter lh-base">{{i.location}}</p>
              </div>
          </div>
        </a> 
         
      </div>
    {% endfor %}
  </div>
</div>

  <style>
    .marketplace-header {
      display: flex;
      gap: 10px;
    }
    .middle {
      {% comment %} background-color: #18191A; {% endcomment %}
      padding: 0px;
    }
    .caption {
      padding-top: 7px;
    }
    .itemtext {
      margin: 0px;
    }
    img.group {
      width: 277px;
      height: 277px;
      border-radius: 8px;
      border: 1px solid #202122;
    }
  div.item {
    margin: 4px;
    max-width: 277px;
    height: 379px;
  }
  .form-control {
    width: 340px;
  }

  </style>
{% endblock %}