{% extends 'base.html' %}

{% block content %}
<h1>Edit Items - from the item app</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
        {% for i in object %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="editable" data-id="{{ i.id }}" data-type="title">{{i.title}}</td>
            <td class="editable" data-id="{{ i.id }}" data-type="description">{{i.description}}</td>
            <td class="editable" data-id="{{ i.id }}" data-type="price">{{i.price}}</td>  
            <td class="editable" data-id="{{ i.id }}" data-type="name">{{i.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            $(document).on("dblclick",".editable",function(){
                var value=$(this).text();
                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            });
        });
    </script>
{% endblock custom_js %}