{% extends 'base.html' %}

{% block content %}
<h1>Edit Items - from the item app</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for i in object %}
        <tr>
                {% csrf_token %}
                <th scope="row">{{i.id}}</th>
                <td class="editable" data-id="{{ i.id }}" data-type="title">{{i.title}}</td>
                <td class="editable" data-id="{{ i.id }}" data-type="description">{{i.description}}</td>
                <td class="editable" data-id="{{ i.id }}" data-type="price">{{i.price}}</td>  
                <td class="editable" data-id="{{ i.id }}" data-type="name">{{i.name}}</td>
                {% comment %} <td><input class="btn btn-sm btn-outline-danger" type="submit" value="Edit"></td> {% endcomment %}
                <td><a href="{{i.get_absolute_url}}" class="btn btn-secondary btn-xs card-links">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extrascripts %}
    <script>
        console.log("Hello world!");
        $(document).ready(function(){
            $(document).on("dblclick",".editable",function(){
                var value=$(this).text();
                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            });
        });
    </script>
{% endblock %}